.painel-titulo {
  -fx-background-color: #F4F4F4;
  -fx-text-fill: #AAAAAA;
  -fx-translate-y: -9;
  -fx-translate-x: 10;
  -fx-padding: 0 4 0 4;
}

.painel-borda {
  -fx-border-insets: 10 5 5 5;
  -fx-border-color: #CCCCCC;
  -fx-border-width: 1;
}

.button-accent {
  -fx-base: -fx-accent; 
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button-accent:hover {
  -fx-color: ladder(-fx-accent, derive(-fx-base,20%) 20%, derive(-fx-base,30%) 35%, derive(-fx-base,40%) 50%);
  -fx-text-fill: white;
}

.button-accent:armed {
    -fx-color: derive(-fx-accent,-5%);
}

.button-accent:focused {
  -fx-base: -fx-accent;
  -fx-background-color: -fx-accent, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-background-insets: -1, 0, 1, 2;
}